# Environment variables
.env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Generated reports
# reports/
# pagespeed_report_*.json
pagespeed_report_*.html

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
